.card {
  width: 380px;
  height: 650px;
  border: 2px solid lightblue;
  display: inline-block;
  margin: 20px 10px;
}
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2 {
  border-bottom: 2px dotted lightgrey;
  text-align: center;
  padding-bottom: 20px;
}

h4, h5, h6 {
  padding-left: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.img {
  height: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

p {
  margin: 10px 10px 10px 10px;
}

.availability-available {
  color: green;
  -webkit-text-stroke: 1px darkgreen;
  letter-spacing: 1px;
  background-color: lightgrey;
  border-left: 10px solid lightgray;
  border-top: 10px solid lightgray;
  border-bottom: 10px solid lightgray;
}

.availability-unavailable {
  color: red;
  -webkit-text-stroke: 1px darkred;
  letter-spacing: 1px;
  background-color: lightgrey;
  border-left: 10px solid lightgray;
  border-top: 10px solid lightgray;
  border-bottom: 10px solid lightgray;
}
